name: macOS kernel build

on:
  push:
    branches:
      - master


jobs:
  build:
    name: Build macOS kernel
    runs-on: macos-10.15

    steps:
    - uses: actions/checkout@v2.1.0

    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: 2.7

    - name: Build Kernel for macOS
      id: build_kernel_
      run: |
        sudo xcode-select -s /Application/Xcode_11.6.app

    - name: Build 10.15.5 kernel for macOS
      id: build_kernel_10155
      run: |
        sudo xcode-select -s /Application/Xcode_11.6.app
        export MACOS_SHORT_VERSION=10155
        export MACOS_VER=10.15.5
        export XNU_VER=6153.121.1
        # XNU_VERSION=xnu-$XNU_VER ./build-xnu.sh
        MACOS_VERSION=$MACOS_VER BACKUP_SDK=1 OPTIONS=RELEASE,DEVELOPMENT ./build-xnu.sh
